<!-- All Posts -->
{{#each posts as |post| }}
<div class="card row no-gutters">
<div class="card col-12">
  <div class="card-header" style="background-color: #e3f2fd;">
    {{#if logged_in}}
      <a href="/post/{{post.id}}">{{post.title}}</a>
    {{else}}
      <p>{{post.title}}</p>
    {{/if}} 
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{post.contents}}</p>
      <footer class="blockquote-footer">Posted by <cite title="Author">{{post.user.name}}</cite> on {{format_date post.dateCreated}}</footer>
    </blockquote>
  </div>
</div>
</div>
{{/each}}
<!-- End of All Posts -->
