<!-- Post View -->
<div class='card row no-gutters'>
  <div class='card col-12'>
    <div class='card-header' style='background-color: #e3f2fd;'>{{title}}</div>
    <div class='card-body'>
      <blockquote class='blockquote mb-0'>
        <p>{{contents}}</p>
        <footer class='blockquote-footer'>Posted by
          <cite title='Author'>{{user.name}}</cite>
          on
          {{format_date dateCreated}}</footer>
      </blockquote>
    </div>
    <div class='card-header' style='background-color: #e3f2fd;'>Comments</div>
    <div class='card-body'>
      {{#each comments as |comment|}}
        <blockquote class='blockquote mb-0'>
          <p>{{comment.contents}}</p>
          <footer class='blockquote-footer'>Posted by
            <cite title='Author'>{{comment.userName}}</cite>
            on
            {{format_date comment.dateCreated}}</footer>
        </blockquote>
      {{/each}}
      <form class='form'>
        <div class='form-group'>
          <input
            class='form-control'
            type='hidden'
            value='{{id}}'
            id='postId'
            name='postId'
            readonly
          />
        </div>
        <blockquote class='blockquote mb-0'>
          <p>{{contents}}</p>
          <footer class='blockquote-footer'>Posted by
            <cite title='Author'>{{user.name}}</cite>
            on
            {{format_date dateCreated}}
          </footer>
        </blockquote>
        <div class='form-group'>
          <a
            class='btn btn-outline-primary btn-sm post-form-cancel my-2 my-sm-0'
            href='/'
            role='button'
          ><i class='fas fa-umbrella'> Cancel</i></a>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End of Post View -->