<!-- Post Delete -->
<div class='card row no-gutters'>
  <div class='card col-12'>
    <div class='card-header' style='background-color: #e3f2fd;'>{{title}}</div>
    <div class='card-body'>
      <form class='form' action='/api/posts' method='POST' role='form'>
        <blockquote class='blockquote mb-0'>
          <p>{{contents}}</p>
          <footer class='blockquote-footer'>Posted by
            <cite title='Author'>{{user.name}}</cite>
            on
            {{format_date dateCreated}}
          </footer>
        </blockquote>
        {{#if logged_in}}
          <div class='form-group'>
            <input
              class='form-control'
              type='hidden'
              value='4'
              id='action'
              name='action'
              required
            />
          </div>
          <div class='form-group'>
            <input
              class='form-control'
              type='hidden'
              value='{{id}}'
              id='postId'
              name='postId'
              readonly
            />
          </div>
          <div class='form-group'>
            <button
              type='submit'
              class='btn btn-outline-primary btn-sm post-form-submit my-2 my-sm-0'
            ><i class='far fa-trash-alt'> Delete</i></button>
            <a
              class='btn btn-outline-primary btn-sm my-2 my-sm-0'
              href='/'
              role='button'
            ><i class='fas fa-umbrella'> Cancel</i></a>
          </div>
        {{else}}
          <div class='form-group'>
            <a
              class='btn btn-outline-primary btn-sm my-2 my-sm-0'
              href='/'
              role='button'
            ><i class='fas fa-umbrella'> Cancel</i></a>
          </div>
        {{/if}}
      </form>
    </div>
  </div>
</div>
<!-- End of Post Delete -->